name: Output Information
on: workflow_dispatch
jobs:
  info:
    runs-on: ubuntu-latest
    steps:
        #Github  Expressions & Context objects 
      - name: Output Github context
        run: echo "${{ toJson(github) }}"